@use 'sass:string';

@use 'vuetify/styles' as * with (
  $body-font-family: string.unquote('Inter, sans-serif'),
  $heading-font-family: string.unquote('Inter, sans-serif'),
);

.text-accent {
  color: rgba(255, 255, 255, 0.7) !important;
}

.rounded-xl {
  border-radius: 18px !important;
}

// markdown styles
// markdown
.grid {
  &,
  > ul {
    @extend .d-md-flex, .ga-5, .justify-space-between, .w-100;
  }

  
  > ul > li,
  &-item {
    width: 48%;

    @media screen and (max-width: 960px) {
      width: 100%;
    }
  }
}

.table-hidden-overflow > div {
  overflow: hidden;
}