@use 'sass:string';

@use 'vuetify/styles' as * with (
  $body-font-family: string.unquote('Inter, sans-serif'),
  $heading-font-family: string.unquote('Inter, sans-serif'),
);

.text-accent {
  color: rgba(255, 255, 255, 0.7) !important;
}

.rounded-xl {
  border-radius: 18px !important;
}